body {
    display: flex;
    height: 100vh;
    background: pink;

    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#container{
    position: relative;
}

audio{
    position: absolute;
}

span{
    display: block;
    margin-bottom: 4px;
}

img {
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-70%)
}

#title {
    font-size: 1.2rem;
    font-family: 'arial', serif;
    color: black;
    font-weight: bold;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 1rem;
    text-align: center;
}

#canvas {
    display: block;
    margin: 40px auto;

    filter: url('#blur') blur(1.5px);
    opacity: 0.9;
}

#canvas::before {
    content: 'text';
}

#candle {
    display: block;
    margin: -260px auto 30px;
    width: 100px;
    height: auto;
}

#filter {
    position: fixed;
}
